body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #343a40;
  color: white;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2em;
  text-align: center;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.home {
  background-image: url(../public/Hogwarts.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
  margin-bottom: 100px;
}

.card {
  box-shadow: 0px 0px 20px #4d4d4d99;
  border-radius: 10px;
  width: 300px;
}

.imgCards {
  width: 165px;
  height: 244px;
  border-radius: 10px;
}

button {
  background-size: cover;
  background-position: center;
  width: 140px; /* Ajusta el tamaño según sea necesario */
  height: 160px;
}

#gryffindor {
  background-image: url(../public/gryffindor.jpg);
}

#slytherin {
  background-image: url('../public/slytherin.jpg');
}

#hufflepuff {
  background-image: url('../public/hufflepuff.jpg');
}

#ravenclaw {
  background-image: url('../public/ravenclaw.jpg');
}

.house-filter {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.house-filter li button {
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.house-filter li button:hover {
  transform: scale(1.2);
}