/* configuracion principal */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-family:Arial, Helvetica, sans-serif;
}

header {
  background-color: #343a40;
  color: white;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover {
  color: #cccccc;
}

main {
  padding: 2em;
  text-align: center;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Pagina principal */
.home {
  background-image: url(../public/Hogwarts.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(2px);
    z-index: -1;
}

.intro {
  margin: auto;
  font-weight: bolder;
  background-color: #ffffff6b;
  margin-bottom: 40px;
  text-align: left;
  padding: 5px 30px 20px 30px;
  position: relative; 
  width: 70%;
  border-radius: 20px;
}

.intro h1, h2, h3 {
  margin-top: 20px;
  font-weight: bolder;
}

.intro p, li {
  font-size: 1rem;
  margin-top: 20px;
}

.house-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.house-description {
  flex: 1;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 5px 30px 20px 30px;
  border-radius: 10px;
  min-width: 250px;
}

.house-description a {
  text-decoration: none;
  color: #036ee9;
}

.house-description a:hover {
  text-decoration:underline;
}

span {
  font-weight: bolder;
}

/* Pagina de los personajes */
.page-characters {
  background-color: #f3f70a1a;
}

.btn-characters {
  border: none;
  background-color: #343a40;
  color: #dbdbdb;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 10px;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-characters:hover {
  background-color: #23282c;
  transform: scale(1.1);
}

.house-filter {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.house-filter .btn {
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 140px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.house-filter .btn:hover {
  transform: scale(1.2);
  filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.75));
}

#gryffindor {
  background-image: url('../public/gryffindor.png');
}

#slytherin {
  background-image: url('../public/slytherin.png');
}

#hufflepuff {
  background-image: url('../public/hufflepuff.png');
}

#ravenclaw {
  background-image: url('../public/ravenclaw.png');
}

.grid {
  width: 80%;
  display: grid;
  justify-items: center;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 70px;
}

.card {
  background-color: #ffd90011;
  box-shadow: 0px 0px 20px #4d4d4d99;
  border-radius: 10px;
  width: 80%;
  text-decoration: none;
  transition: transform 0.3s ease;

  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.card:hover {
  transform: scale(1.1);
}

.card h4 {
  margin: 20px 0;
}

.imgCards {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.character-house {
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 1px;
  width: 60%;
}

.gryffindor {
  background-color: #52021b;
  color: #e79408;
}

.slytherin {
  background-color: #173825;
  color: #939ea4;
}

.hufflepuff {
  background-color: #e79408;
  color: #363634;
}

.ravenclaw {
  background-color: #4a90ce;
  color: #141414;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

/* Media queries */
@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .house-filter .btn {
    width: 110px;
    height: 125px;
  }
}

@media (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .house-filter .btn {
    width: 90px;
    height: 100px;
  }
}

/* Estilos para el botón de desplazamiento hacia arriba */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: #1d1d1d;
  color: #e4e4e4; 
  border: none;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

#scrollToTopBtn.show {
  display: block;
}
