body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

header {
  background-color: #343a40;
  color: white;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2em;
  text-align: center;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.home {
  background-image: url(../public/Hogwarts.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(2px);
    z-index: -1;

}

.intro {
  font-weight: bolder;
  font-size: 2rem;
  background-color: #00000025;
  
}

.page-characters {
  background-color: #fffffc;
}

.btn-characters {
  border: none;
  background-color: #343a40;
  color: #dbdbdb;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 10px;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-characters:hover {
  background-color: #23282c;
  transform: scale(1.1);
}

.house-filter {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.house-filter .btn {
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 140px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.house-filter .btn:hover {
  transform: scale(1.2);
  filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.75));
}

.imgCards {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}


#gryffindor {
  background-image: url('../public/gryffindor.png');
}

#slytherin {
  background-image: url('../public/slytherin.png');
}

#hufflepuff {
  background-image: url('../public/hufflepuff.png');
}

#ravenclaw {
  background-image: url('../public/ravenclaw.png');
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
  margin-bottom: 100px;
}

.card {
  background-color: #ffd90011;
  box-shadow: 0px 0px 20px #4d4d4d99;
  border-radius: 10px;
  width: 300px;
  view-timeline-name: --image;
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.character-house {
  margin: 20px auto;
  text-align: center;
  width: 60%;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 1px;
}

.gryffindor {
  background-color: #52021b;
  color: #e79408;
}

.slytherin {
  background-color: #173825;
  color: #939ea4;
}

.hufflepuff {
  background-color: #e79408;
  color: #363634;
}

.ravenclaw {
  background-color: #1d476f;
  color: #141414;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}